
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

body{
    background-color: #1f2833;
    margin: 0 auto;
}

a, ul{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

ul{
    list-style-type: none;
    /*border-left-style: solid;
    border-left-width: 4px;
    margin-left: 100px;
    padding: 0;*/
}

.pet{
    border-left-style: solid;
    border-left-width: 4px;
    padding-left: 10px;
    /*border-bottom-style: solid;
    border-bottom-width: 20px;
    border-bottom-color: #1f2833;
    border-color: #1f2833;*/
}

.sub-category{
    color: yellow;
}

h1{
    color: red;
}

h2{
    color: green;
}

h3{
    color: blue;
}

.header{
    color: #66FCF1;
}

div{
    background-color: #0b0c10;
    color: #c5c6c7;
    font-family: 'Roboto', sans-serif;
    font-size: 14;
    width: 100%;
}

#div-1{
    width: 100%;
    text-align: center;
    font-size: 600%;
    font-weight: bolder;
    /*float: left;*/
}

#div-2{
    width: 100%;
    background-color: #fff;
    color: #0b0c10;
    font-size: 600%;
    /*float: left;*/
}

.container-elements{
    height: auto;
    min-height: 100px;
}

.element{
    float: left;
    width: 20%;
}

@media only screen and (max-width: 600px){
    body{
        background-color: #fff;
    }

    #div-1{
        width: 100%;
        text-align: center;
        font-size: 500%;
        font-weight: bolder;
    }
    .element{
        float: none;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        font-size: 200%;
    }
    .element:hover{
        background-color: #fff;
        color: #000000;
        transition: background-color 0.5s ease;
    }
}
